
{% load static %}
<!DOCTYPE html>
<html lang="ko">
	<head>
		<!-- Required meta tags -->
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no" />
		
		<!-- style css -->
		{% block css %}
		<!-- <link rel="stylesheet" href="{% static '/css/common.css' %}" /> -->
		{% endblock %}
		
		<!-- Java script -->
		{% block script %}
		<script src="{% static '/js/password_reset.js' %}"></script>
		{% endblock %}
		<title>Uni Register</title>
	</head>
	<body>
	<!------------------헤더-------------------------->
	<header>
	</header>
	<!-------------- end ----------------->
	
	<!------------------end--------------------------->
	<div class="container">
	{% block container %}
	<div class="register">
	
		<h3> 비밀번호 초기화 설정 </h3>
				
		<p> 비밀번호를 잊으셨나요? 비밀번호 초기화 설정 내용을 받을 이메일 계정을 아래에 작성해주세요. </p>
		
		<form method="post" action="password_mailSend">
			{% csrf_token %}
			이메일 : <input type="email" name="email" id="email">
			<input type="submit" name="Send email">
		</form>
	</div>
	{% endblock %}
	</div>
	<!---------------- 푸터 -------------------------->
	<footer>
	</footer>
	<!-----------------end---------------------------->
	
	<!-- Bootstrap JS -->
	</body>
</html>