
{% load static %}
<!DOCTYPE html>
<html lang="ko">
	<head>
		<!-- Required meta tags -->
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no" />
		
		<!-- style css -->
		{% block css %}
		<!-- <link rel="stylesheet" href="{% static '/css/common.css' %}" /> -->
		{% endblock %}
		
		<!-- Java script -->
		{% block script %}
		<script src="{% static '/js/password_reset.js' %}"></script>
		{% endblock %}
		<title>Uni Register</title>
	</head>
	<body>
	<!------------------헤더-------------------------->
	<header>
	</header>
	<!-------------- end ----------------->
	
	<!------------------end--------------------------->
	<div class="container">
	{% block container %}
	<div class="register">
		<h3> 새로운 비밀번호 입력 </h3>
				
		<p> 초기화된 비밀번호 확인을 위해 초기화 설정된 비밀번호를 한 번 더 입력해주세요. </p>
	
		<form name="password_resetform" method="post" action="{% url 'updatePassword' %}" onsubmit="return password_reset_ck()">
			{% csrf_token %}
			비밀번호 재설정 : <input type="password" name="passwd">
			비밀번호 재입력 : <input type="password" name="passwd1">
			<input type="submit" name="Update Password">
		</form>

	</div>
	{% endblock %}
	</div>
	<!---------------- 푸터 -------------------------->
	<footer>
	</footer>
	<!-----------------end---------------------------->
	
	<!-- Bootstrap JS -->
	</body>
</html>
