
{% load static %}
<!DOCTYPE html>
<html lang="ko">
	<head>
		<!-- Required meta tags -->
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no" />
		
		<!-- style css -->
		{% block css %}
		<!-- <link rel="stylesheet" href="{% static '/css/common.css' %}" /> -->
		{% endblock %}
		
		<!-- Java script -->
		{% block script %}
		<script src="{% static '/js/password_reset.js' %}"></script>
		{% endblock %}
		<title>Uni Register</title>
	</head>
	<body>
	<!------------------헤더-------------------------->
	<header>
	</header>
	<!-------------- end ----------------->
	
	<!------------------end--------------------------->
	<div class="container">
	{% block container %}
	<div class="register">
	
		<h3> 비밀번호 초기화 설정 이메일 발송완료 </h3>
				
		<p> 비밀번호 초기화 설정을 위한 이메일을 방금 발송해드렸습니다. 유니마켓에 등록된 계정과 동일한 이메일의 경우 곧 확인하실 수 있을 것 입니다. </p>
		
		<p> 만약 이메일을 발송받지 못하셨다면, 유니마켓에 등록된 계정의 일치여부와 스팸함을 확인해주시면 감사하겠습니다. </p>
	</div>
	{% endblock %}
	</div>
	<!---------------- 푸터 -------------------------->
	<footer>
	</footer>
	<!-----------------end---------------------------->
	
	<!-- Bootstrap JS -->
	</body>
</html>
	