{% extends "uniBase.html" %}
{% load static %}
<!DOCTYPE html>
<html lang="ko">
	<head>
		<!-- Required meta tags -->
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />  
		{% block css %}
		<link rel="stylesheet" href="{% static '/css/login.css' %}"/>
		{% endblock %}  
	</head>
	<body>
		<!------------------헤더-------------------------->
		<div class="header">
		</div>
		<!------------------end--------------------------->
		<div class="container">
		{% block container %}
		<article>
			<div class="login-table">
				<h1>로그인</h1>
				<br />
				{% if not memNo %}
				<!--  <form name="loginform" method="post" action="uniLoginpro" onsubmit="return loginck()">-->
				{% csrf_token %}
					
					<!-- 
					{% if message %}
						{{message}}
					{% endif %}
					{% if not message %}
						비회원이시면 회원가입을 해주세요 
					{% endif %}
					 -->
					
					<div class="form-group">
					<!-----------------------이메일 입력,이메일찾기 ------------------>
						<label for="email">이메일 주소 입력&nbsp;
							<!-- <small>
								<a href="#" tabindex="6">(이메일을 잊으셨나요?)</a>
							</small> -->
						</label>
						<input type="email" id="email" name="email" placeholder="example@email.com" autofocus="on" tabindex="1" class="form-control" />
					<!--------------------------end-------------------------------->
					</div>
					
					<div class="form-group">
					<!-------------------------비밀번호입력, 비밀번호 찾기--------------->
						<label for="password">비밀번호 &nbsp;
							<small>
								<a href="password_reset_mail" tabindex="6">(비밀번호를 잊으셨나요?)</a>
							</small>
						</label>
						<input type="password" id="passwd" name="passwd" placeholder="" required="" maxlength="32" autofocus="off" tabindex="2" class="form-control" />
					<!---------------------------end------------------------------->
					</div>
					
					<hr />
					
					<div class="login-button">
					<!----------------------------로그인버튼---------------------->
						<!-- <button type="submit" tabindex="4" class="btn btn-lg" onsubmit="location.href='uniMain'"> 로그인 </button> -->
						<button type="button" id="loginbtn" tabindex="4" class="btn btn-lg"> 로그인 </button>
						<button type="button" class="btn btn-lg">
							<a href="uniRegister"> 회원가입 </a>
						</button>
					<!-----------------------------end-------------------------->
					</div>
					
					<br />
					<script language="javascript">
					$("document").ready(function () {
						$("#loginbtn").on("click", loginck);
					});
					function loginck() {
						if(! $("#email").val()) {
							alert("이메일을 입력하세요");
							loginform.email.focus();
							return false;
						} else if(! $("#passwd").val()) {
							alert("비밀번호를 입력하세요");
							loginform.passwd.focus();
							return false;
						}
						
						var param={
			    				"email" : $("#email").val(), 
				    			"passwd" : $("#passwd").val(),
				    			}
			    		$.ajax({
		    					url : "uniLoginpro",
		    					type : "POST",
		    					data : JSON.stringify(param),
		    					dataType : "json",
		    					success : function(data){
		    						console.log(data);
		    						window.location.href="uniMain"
		    						message7 = ""
		    						message8 = ""
		    						if(data["dtoMark7"]!= ""){
		    							$.each(data["dtoMark7"], function(index, list7){
			    							message7+=decodeURIComponent(list7["markContent"])+"\n"
			    						})
			    						alert("※찜한 상품 판매 완료 알림※\n"+message7);
		    						}else{
		    							console.log("빈값")
		    						}
		    						if(data["dtoMark8"] != ""){
		    							$.each(data["dtoMark8"], function(index, list8){
			    							message8+=decodeURIComponent(list8["markContent"])+"\n"
			    						})
			    						alert("※찜한 상품 가격 변동 알림※\n"+message8);
		    						}
		    						
		    					},
		    					error : function(request, status, error){
		    						console.log("code = "+ request.status + " message = " + request.responseText + " error = " + error); // 실패 시 처리
		    						console.log("error")
		    					}
			    			});
						
						
						return true;
					}
					</script>
				<!--  </form>-->
				{% endif %}
				{% if memNo %}
					<div>
						<span>{{memNo}}</span>님 안녕하세요!
					</div>
				{% endif %}
				<p>고객센터로 가시려면<a href="#"> &lt;이곳&gt; </a>을 눌러주세요.</p>
			</div>
		</article>
		{% endblock %}
	<!-----------------end---------------------------->
	</div>
	<!---------------- 푸터 -------------------------->
	<footer>
	</footer>
	</body>
</html>
 
      