{% extends 'uniBase.html' %} {% load static %} {% load mathfilters %}
<!DOCTYPE html>
<html lang="ko">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no"
    />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

    <!-- reset -->
    <link rel="stylesheet" href="{% static '/setting/css/reset.css' %}" />
    <!-- Bootstrap CSS -->
    <link
      href="{% static '/setting/css/bootstrap.min.css' %}"
      rel="stylesheet"
      media="screen"
    />
    <!-- font css -->
    <script src="https://use.fontawesome.com/e3c0fc771e.js"></script>
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.15.4/css/all.css"
      integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm"
      crossorigin="anonymous"
    />
    <!-- 반응형 웹 설정 -->
    <link rel="stylesheet" href="{% static '/setting/css/ie10.css' %}" />
    <script rel="stylesheet" href="{% static '/setting/js/ie10.js' %}"></script>
    <!-- Default js -->
    <script
      type="text/javascript"
      src="{% static '/setting/js/html5shiv.js' %}"
    ></script>
    <script
      type="text/javascript"
      src="{% static '/setting/js/respond.min.js' %}"
    ></script>

    <!-- style css -->
    <link rel="stylesheet" href="{% static '/css/common.css' %}" />
    {% block css %}
    <link rel="stylesheet" href="{% static '/css/sale.css' %}" />
    {% endblock %}
    <!-- chat -->

    <!-- Java script -->
    <script src="{% static '/setting/js/jquery-3.6.0.min.js' %}"></script>
    <script>
      $.ajaxSetup({
        headers: { "X-CSRFToken": "{{csrf_token}}" },
      });
    </script>
    <script src="{%static '/js/base.js'%}"></script>
    <title>{% block title %}Uni Sale{% endblock %}</title>
  </head>
  <body>
    <!------------------헤더-------------------------->
    <header></header>
    <!------------------end--------------------------->
    <div class="container">
      {% block container %}
      <main>
        <article>
          <div class="sale-title">
            <!--  마이페이지 뒤로 가는 링크  -->
            <button class="sale-backpage" onclick="location.href='uniMypage?'">
              <i class="fas fa-arrow-circle-left"></i>
            </button>
            <h1><strong>판매 목록</strong></h1>
          </div>
          <hr />
          <section>
            {% for dto in dtos %}
            <div class="sale-list">
              <a href="uniDetail?itemNo={{dto.itemNo}}">
                <div class="sale-image-box">
                  <div class="sale-img">
                    {% if dto.itemImg %}
                    <img src="{{ dto.itemImg.url }}" alt="" />
                    {% else %}
                    <img
                      src="{% static '/images/market_logo_cut.png' %}"
                      alt=""
                    />
                    {% endif %}
                  </div>
                </div>
                <div class="sale-value">
                  <h4>{{ dto.title }}</h4>
                  <span>{{ dto.price }}원</span>
                </div>
              </a>
              <div class="sale-icon">
                {% if dto.sellStat == 0 %}
                <button
                  id="selling"
                  class="selling-{{dto.itemNo}}"
                  value="{{dto.itemNo}}"
                >
                  판매중
                </button>
                {% else %}
                <button
                  id="selling"
                  class="selling-{{dto.itemNo}}"
                  value="{{dto.itemNo}}"
                  disabled
                >
                  판매완료
                </button>
                {% endif %}
                <button
                  value="{{dto.itemNo}}"
                  onclick="location.href='uniProductsedit?itemNo={{dto.itemNo}}'"
                >
                  수정/삭제
                </button>
              </div>
              <hr />
            </div>
            {% endfor %}
          </section>
          <br />
          <!--  판매중을 판매완료로 변경  -->
          <script type="text/javascript">
            $(document).on("click", "[class^='selling']", function () {
              var itemNo = $(this).val(); //#selling의 value값 (itemNo)가져오기
              let param = { itemNo: itemNo };
              console.log(param);
              if (confirm("거래가 완료되었나요?")) {
                //confirm창 나오게 해서 확인 누르면 실행되도록 함
                console.log(JSON.stringify(param));
                $.ajax({
                  url: "{% url 'uniSale' %}",
                  type: "POST",
                  data: JSON.stringify(param),
                  dataType: "json",
                  success: function (response) {
                    $(".selling-" + response.itemNo).html("판매완료"); //판매중 txt를 판매완료로 변경
                    $(".selling-" + response.itemNo).prop("disabled", true); //버튼 클릭 안되게 변경
                  },
                });
              }
            });
          </script>
          <div class="page-index">
            {% if startpage > pageblock %}
            <a
              href="uniCategory?cat={{cate_condition}}&kwrd={{keyword_condition}}&order={{order_condition}}&page={{startpage|sub:pageblock}}"
              >[◀]</a
            >
            {% endif %} {% for p in pages %} {% if p == page %}
            <b>{{p}}</b>
            {%endif %} {% if p != page %}
            <a
              href="uniCategory?cat={{cate_condition}}&kwrd={{keyword_condition}}&order={{order_condition}}&page={{p}}"
              >{{p}}</a
            >
            {% endif %} {% endfor %} {% if endpage < pagecount %}
            <a
              href="uniCategory?cat={{cate_condition}}&kwrd={{keyword_condition}}&order={{order_condition}}&page={{startpage|add:pageblock}}"
              >[▶]</a
            >
            {% endif %}
          </div>
        </article>
      </main>
      {% endblock %}
    </div>
    <!---------------- 푸터 -------------------------->
    <footer></footer>
    <!-----------------end---------------------------->

    <!-- Bootstrap JS -->

    <script src="{% static '/setting/js/bootstrap.min.js' %}"></script>
  </body>
</html>
