article {
  width: inherit;
  height: 85vh;
  display: grid;
  place-items: center;
}

.login-table {
  width: 300px;
  height: 420px;
  padding: 20px;
  border: 1px solid black;
  border-radius: 10px;
}

.login-table > h1 {
  text-align: center;
}

div.login-button {
  display: flex;
  justify-content: center;
}

/* 고객센터 링크 */
article p {
  text-align: center;
}

article p > a:hover {
  color: blue;
}
