@charset "utf-8";
.container {
  padding-top: 64px;
}

main {
  width: 320px;
  height: 450px;
  margin: 20px auto;
  border: 1px solid #eee;
  position: relative;
}

article {
  height: 400px;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

main form {
  height: 30vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

input[type="password"],
input[type="password"]:focus {
  width: 300px;
  outline: 1px solid #70558e;
  border-radius: 2px;
}

main input[type="submit"],
main input[type="button"] {
  width: 100px;
  height: 30px;
  border: none;
  border-radius: 5px;
}

main input[type="submit"] {
  background: #6667ab;
}
